.container {
  position: fixed;
  z-index: -999;

  width: 100%;
  height: 100vh;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./../../public/img/image_example_2.jpg');
}